.titre {
  font-size: 200% !important;
}

.formuleAndDef {
  margin-top: 50px !important;
}

.definition > ul > li {
  margin-top: 20px;
}

.definition {
  text-align: left;
}

.sourceDefinition {
  float: right;
  font-style: italic !important;
}

.figureExemple {
  height: 75%;
  width:  75%;
}

.warning {
  height: 40px;
  width: auto;
  margin-top: 0px!important;
  margin-bottom: 0px!important;
  margin-right: 10px!important;
  margin-left: 0px!important;
  border-width: 0px !important;
  background-color: transparent !important;
  vertical-align: bottom !important;
}

#formuleOrdre1 {
  height: auto;
  border-color: #333 !important;
  background-color: white !important;
  padding: 5px !important;
  float: left;
  width: 300px;
  margin-right: 50px !important;
}

#formuleOrdre2 {
  height: auto;
  border-color: #333 !important;
  background-color: white !important;
  padding: 5px !important;
  width: 600px;
}

#formuleOrdre3 {
  height: auto;
  border-color: #333 !important;
  background-color: white !important;
  padding: 5px !important;
  width: 600px;
}

#formuleOrdre4 {
  height: auto;
  border-color: #333 !important;
  background-color: white !important;
  padding: 5px !important;
  width: 600px;
}

#formuleOrdreN {
  height: auto;
  border-color: #333 !important;
  background-color: white !important;
  padding: 5px !important;
  margin-bottom: 50px !important;
  width: 1000px;
}
